# MongoDB Connection URI
# Replace <username>, <password>, and cluster details with your MongoDB Atlas credentials
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/swadeshikitchen?retryWrites=true&w=majority

# Port for the backend server
PORT=5000
